body{
    margin: 0;
    padding: 0;

    background:rgb(255, 219, 41);

    
    
 }


 .carregatitulo{
     margin-left: 45%;
     
 
 }

 


 










 .buscador{
     
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction:column;
     margin-top: 5%;
 }


 .input{
     display: flex;
     margin: 25px;
     align-items: center;
     justify-content: center;
 }
 .dados{
     height: 25px;
     width: 100%;
     border-radius: 25px;
     border: 0;
 }
 .submit{
     height: 40px;
     border-radius: 4px;
     border: 0;
     cursor:pointer;
 }
 .cep{
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
 }
